.journal-item {
    margin-top: 2px;
    margin-bottom: 2px;
}

.delete-journal-item {
    margin-right: 6px;
}

.journal-list {
    margin-top: 12px;
    font-family: 'Inconsolata', sans-serif;
}

.journal-bar {
    font-family: 'Inconsolata', sans-serif;
}

.tags {
	font-family: 'Inconsolata', sans-serif;
	font-size: 11px;
}