.journal-item {
    margin-top: 2px;
    margin-bottom: 2px;
}

.journal-item a { text-decoration: none; }

.journal-item-non-matching { color: AliceBlue; }

.delete-journal-item {
    margin-right: 6px;
}

.journal-list {
    margin-top: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

.journal-bar {
        font-family: Helvetica, Arial, sans-serif;
}

.tag {
    font-size: small;
    background: #F3C5D4;
    padding: 1px 3px 0 3px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    border: 1px solid #F3C5D4;
}

input[type=search] {
  outline: 0;
}

header {
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 4px;
    margin-right: 2px;
}

.search-bar {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 60%;
  height: 32px;
  border: 0px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.027451);
  box-shadow: none;
  background-image: url('chrome-extension://__MSG_@@extension_id__/public/search.png');
  background-repeat: no-repeat;
  background-position: 8px 50%;
  padding: 15px 20px 15px 28px;
}
