.journal-item {
    margin-bottom: 2px;
    padding-left: 4px;
}

.journal-item a { text-decoration: none; }

.journal-item-non-matching { color: AliceBlue; }

.delete-journal-item {
    width: 16px;
    height: 16px;
}

.journal-list {
    margin-top: 10px;
    margin-left: 8px;
    font-family: Helvetica, Arial, sans-serif;
}

.journal-bar {
    font-family: Helvetica, Arial, sans-serif;
}

input[type=search] {
    outline: 0;
}

header {
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 4px;
    margin-right: 2px;
}

.search-bar {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 60%;
    height: 32px;
    border: 0px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.027451);
    box-shadow: none;
    background-image: url('chrome-extension://__MSG_@@extension_id__/public/search.png');
    background-repeat: no-repeat;
    background-position: 8px 50%;
    padding: 15px 20px 15px 28px;
}

.bttn-export {
    background-color: rgba(0, 0, 0, 0.027451);
    border-radius: 5px;
    border: 0px;
    float: right;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 28px;
    margin-right: 128px;
    margin-top: 4px;
    width: 80px;
}

.bttn:hover {
    font-weight: bold;
}

.hr-search-bar {
    margin-left: 8px;
    margin-right: 129px;
}

.card {
    width: 90%;
    height: 35px;
}

.actions {
    float: left;
    width: 2%;
    height: 35px;
}

.item {
    float: left;
    width: 96%;
    height: 35px;
}

.page {
    float: left;
    width: 70%;
    height: 35px;
}

.favicon {
  margin-top: 1px;
  float: left;
  width: 2%;
  height: 35px;
}

.item-favicon {
  width: 16px;
  height: 16px;
  display: inline;
  margin-left: 2px;
  margin-top: 0px;
}


.item-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding-left: 8px;
}

.item-sub-title {
    margin-top: 2px;
    color: gray;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    padding-left: 8px;
}

.tag {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    margin: 2px 2px 2px 2px;
}

.tags {
    display: inline;
    float: right;
    width: 60%;
    height: 17px;
    color: gray;
}

.domain {
    float: left;
    display: inline;
    height: 17px;
    width: 40%;
}

.page-info {
    height: 17px;
    width: 100%;
}

a:visited {
    color: black;
}
